.venv/
.idea
**/__pycache__/
*.pyc
*.zip
*.csv
!notebooks/transformed_data/50k_transformed_data_no_category_1_of_5.csv
!notebooks/transformed_data/50k_transformed_data_no_category_2_of_5.csv
!notebooks/transformed_data/50k_transformed_data_no_category_3_of_5.csv
!notebooks/transformed_data/50k_transformed_data_no_category_4_of_5.csv
!notebooks/transformed_data/50k_transformed_data_no_category_5_of_5.csv
!notebooks/transformed_data/50k_transformed_data_with_category_1_of_5.csv
!notebooks/transformed_data/50k_transformed_data_with_category_2_of_5.csv
!notebooks/transformed_data/50k_transformed_data_with_category_3_of_5.csv
!notebooks/transformed_data/50k_transformed_data_with_category_4_of_5.csv
!notebooks/transformed_data/50k_transformed_data_with_category_5_of_5.csv